#footer {
				clear: left;
				width: 100%;
				background: #333;
				text-align: center;
				padding: 4px 0;
                color: white;
			}
.innertube {
				margin: 15px; /* Padding for content */
				margin-top: 0;
			}