<div>
  <section>
    <h1></h1>
  </section>
    <section>
      <ul>
        <li><a routerLink="/index" routerLinkActive="active" class="active" href="#home">Home</a></li>
        <li><a routerLink="/new" routerLinkActive="active" href="#Profile">Profile</a></li>
        <li><a routerLink="/allProfiles" routerLinkActive="active" href="#allProfiles">All Profiles</a></li>
        <li><a routerLink="/Record" routerLinkActive="active" href="#Record">Record/Report</a></li>
        <!--<li><a routerLink="/Report" routerLinkActive="active" href="#Report">Report</a></li>-->
      </ul>
    </section>
    <input id="search" type="text" placeholder="Type here" name="search">
</div>

